<a href="https://colab.research.google.com/github/Deise482323/Contact-/blob/main/untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Variável do tipo inteiro
x= 1
print (x)
#Variável do tipo float
y = 3.13
print (y)
# Variável do tipo String
m = 'Python'
m = "Python"
print (m)
#Variável tipo lógica
w = True
y = False
print (y)

1
3.13
Python
False

In [ ]:
# Calculadora
x = 10
y = 20
z = 100
w = (x + y) * z / 100
print (w)

30.0

In [ ]:
# Exibir textos no console
print ("Este texto será impresso no console")
print (x)
print ("Texto e duas variáveis:",x,",",z)

Este texto será impresso no console
10
Texto e duas variáveis: 10 , 100

In [ ]:
# Verificar tipo
print (type(x))
print (type(m))

<class 'int'>
<class 'str'>

In [ ]:
# Entrada de dados
print ("Informe o valor:")
i = input()
# Mostra tipo string
print (type(i))

Informe o valor:
10
<class 'str'>

In [ ]:
!git clone https://github.com/Deise482323/Python.git

Cloning into 'Python'...
warning: You appear to have cloned an empty repository.

In [ ]:
!mv /content/untitled1.ipynb /content/Python/

mv: cannot stat '/content/untitled1.ipynb': No such file or directory

In [ ]:
%cd /content/Python

/content/Python

In [ ]:
!ls -la

total 12
drwxr-xr-x 3 root root 4096 Jan 30 12:45 .
drwxr-xr-x 1 root root 4096 Jan 30 12:45 ..
drwxr-xr-x 7 root root 4096 Jan 30 13:20 .git

In [ ]:
!git add .

In [ ]:
!git commit -m "Primeiro commit"

On branch main

Initial commit

nothing to commit (create/copy files and use "git add" to track)

In [ ]:
!git branch

In [ ]:
!git branch -M main

In [ ]:
!git config --global user.email "deise0509@gmail.com"
!git config --global user.name "Deise Santana"

In [ ]:
!git config --global user.email "deise0509@gmail.com"
!git config --global user.name "Deise Santana"

In [ ]:
nota = 7
if nota >= 7:
  print ("Aprovado")
  print ("Parabens!")
else:
  print ("Reprovado")

Aprovado
Parabens!

In [ ]:
nota = 5
if nota >= 7:
  print ("Aprovado")
  print ("Parabens!")
else:
  print ("Reprovado")

Reprovado

In [ ]:
nota = 7
if nota <= 4:
  print ("Reprovado")
elif nota> 4 and nota <=6:
  print ("Exame!")
else:
  print ("Aprovado")

Aprovado

In [ ]:
# Exemplo com while

count = 1
while count <=5:
  print (count)
  count += 1

1
2
3
4
5

In [ ]:
# range (0,10,1):
# range (inicio, parada, incremento)
# python ingnora o ultimo valor de intervalos
# o incremento pode ser negativo

# for normal:
for n in range (0, 10):
   print (n + 1)
for n in range (1,11):
    print (n)

1
2
3
4
5
6
7
8
9
10
1
2
3
4
5
6
7
8
9
10

In [ ]:
#Célula de código <undefined>
# %% [code]
#for decrecente
for n in range(10, 0,-1):
    print(n)

10
9
8
7
6
5
4
3
2
1

In [ ]:
#Célula de código <undefined>
# %% [code]
#exemplo com break
#vai parar no 3 pois o break está antes do print
for n in range(0, 10):
    if n==4:
        break
    print(n)

0
1
2
3

In [ ]:
#Célula de código <undefined>
# %% [code]
#exemplo com continue
#vai pular o numero 4
for n in range(0, 10):
    if n==4:
        continue
    print(n)

0
1
2
3
5
6
7
8
9

In [ ]:
#Célula de código <undefined>
#%% [code]

In [ ]:
#Célula de texto <undefined>
#%% [markdown]
#Formação Cientista de Dados - Prof. Fernando Amaral Listas

#Célula de código <undefined>
# %% [code]
#formas de criar listas
lst = [1,2,3,4,5]
print(lst)

[1, 2, 3, 4, 5]

In [ ]:
#Célula de código <undefined>
# %% [code]
#vários tipos
lst2 = [1,2,3,"4",True]
print(lst2)

[1, 2, 3, '4', True]

In [ ]:
#Célula de código <undefined>
# %% [code]
#lista com lista
lst3 = [12,[1,2,3,4,5],"a"]
print(lst3)

[12, [1, 2, 3, 4, 5], 'a']

In [ ]:
#Célula de código <undefined>
# %% [code]
#criando lista com range
lst4 = list(range(0,10))
print(lst4)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#Célula de código <undefined>
# %% [code]
#comprimento da lista
print(len(lst))

5

In [ ]:
#Célula de código <undefined>
# %% [code]
#acessando elemento
print(lst[0])
#posiçõo 1 é uma lista
print(lst3[1])
#alterando posição
lst[0] = 4
print(lst)

1
[1, 2, 3, 4, 5]
[4, 2, 3, 4, 5]

In [ ]:
#Célula de código <undefined>
# %% [code]
#percorrendo lista
for n in range(0, len(lst4)):
    print(lst4[n]+1)

#Célula de código <undefined>
# %% [code]

1
2
3
4
5
6
7
8
9
10

In [ ]:
#Célula de código <undefined>
# %% [code]
#percorrendo lista
for n in range(0, len(lst4)):
    print(lst4[n]+1)

#Célula de código <undefined>
# %% [code]

1
2
3
4
5
6
7
8
9
10

In [ ]:
#Célula de código <QXI-bzfvcko9>
# %% [code]
#dicionários: estrutura chave/valor
Notas = {'João': 6.0, 'Maria': 8.0, 'Pedro': 6.5}

In [ ]:
#Célula de código <QXI-bzfvcko9>
# %% [code]
#dicionários: estrutura chave/valor
Notas = {'João': 6.0, 'Maria': 8.0, 'Pedro': 6.5}
print(Notas)

{'João': 6.0, 'Maria': 8.0, 'Pedro': 6.5}

In [ ]:
#Célula de código <4nAIdxOcc8ya>
# %% [code]
print(Notas['João'])

6.0

In [ ]:
#Célula de código <jUhrWDmFdH9R>
# %% [code]
#Todasd as chaves
Notas.keys()

dict_keys(['João', 'Maria', 'Pedro'])

In [ ]:
#Célula de código <fYGMVl6MdS6z>
# %% [code]
#todos os valores
Notas.values()

dict_values([6.0, 8.0, 6.5])

In [ ]:
#Célula de código <DjBy4ZvsdX2a>
# %% [code]
#Testa logicamente a existência
print('João' in Notas)
print('Fernando' in Notas)

True
False

In [ ]:
#Célula de código <hmx--lsNdgkj>
# %% [code]
#apaga um elemento
del Notas['João']
print(Notas)

{'Maria': 8.0, 'Pedro': 6.5}

In [ ]:
#Célula de código <suEjj2tWdqfB>
# %% [code]
#inclui um elemento
Notas['Ana'] = 9
print(Notas)

{'Maria': 8.0, 'Pedro': 6.5, 'Ana': 9}

In [ ]:
#Célula de código <yu483JMyd5yz>
# %% [code]
#busca um valor, se não encontrar mostra segundo parametro
Notas.get('Geraldo',"Não encontrado!")

'Não encontrado!'

In [ ]:
#Célula de código <GafhrtB2eJd7>
# %% [code]
#sets são conjuntos não ordenados de elementos não repetidos
bigdata = {'Spark', 'Hive', "Sqoop"}
print(bigdata)

{'Sqoop', 'Hive', 'Spark'}

In [ ]:
#Célula de código <WcW3f5nzeaCC>
# %% [code]
#verifica existência
print('Spark' in bigdata)

True

In [ ]:
#Célula de código <qJw0n8SOfCEL>
# %% [code]
#adiciona elemento
bigdata.add('Hadoop')
bigdata

{'Hadoop', 'Hive', 'Spark', 'Sqoop'}

In [ ]:
#Célula de código <78RiSwRNflhb>
# %% [code]
#tuplas são listas que não podem ser alteradas
#listas usam [], tuplas usam ()
tupla = (1,2,3,4,5,6,7)
tupla

(1, 2, 3, 4, 5, 6, 7)

In [ ]:
#Célula de código <CPcpjOVEf1GK>
# %% [code]
tupla[4]

5

In [ ]:
#Célula de código <p4IQaJDof3fS>
# %% [code]
#dicionários em que cada posição recebe uma tupla
dic2 = {(0, 1): 0, (1, 2): 1, (2, 3): 2, (3, 4): 3, (4, 5): 4,(5, 6): 5, (6, 7): 6, (7, 8): 7, (8, 9): 8, (9, 10): 9}
dic2

{(0, 1): 0,
 (1, 2): 1,
 (2, 3): 2,
 (3, 4): 3,
 (4, 5): 4,
 (5, 6): 5,
 (6, 7): 6,
 (7, 8): 7,
 (8, 9): 8,
 (9, 10): 9}

In [ ]:
#Célula de código <8fWW_G06hUUc>
# %% [code]
print(type(Notas))
print(type(bigdata))
print(type(tupla))

<class 'dict'>
<class 'set'>
<class 'tuple'>

In [3]:
import numpy as np

In [4]:
#cria uma matriz unidimensional
mt = np.array([12,34,26,18,10])
print(mt)
print(type(mt))

[12 34 26 18 10]
<class 'numpy.ndarray'>

In [5]:
#criar o array com um tipo específico
# cria o array como float de 64 bits
mtfloat = np.array([1, 2, 3], dtype = np.float64)
print(mtfloat)
print(type(mtfloat))
mtint = np.array([1, 2, 3], dtype = np.int32)
print(mtint)
print(type(mtint))

[1. 2. 3.]
<class 'numpy.ndarray'>
[1 2 3]
<class 'numpy.ndarray'>

In [6]:
#mudar o tipo do array
# Podemos transformar tipos de dados de arrays
mtnew = np.array([1.4, 3.6, -5.1, 9.42, 4.999999])
print(mtnew)
# quando transformamos de float para int os valores são truncados
mtnewint = mtnew.astype(np.int32)
print(mtnewint)

[ 1.4       3.6      -5.1       9.42      4.999999]
[ 1  3 -5  9  4]

In [7]:
# podemos fazer o inverso também.
mt5 = np.array([1, 2, 3, 4])
print(mt5)
mt6 = mt5.astype(float)
print(mt6)

[1 2 3 4]
[1. 2. 3. 4.]

In [8]:
# mais de uma dimensão
# cria um matriz bidimensional
mt7 = np.array([[7,2,23],[12,27,4],[5,34,23]])
print(mt7)

[[ 7  2 23]
 [12 27  4]
 [ 5 34 23]]

In [9]:
#criar arrays vazios tipificados
#empty significa que não são inicializados, não que são vazios
vazio = np.empty([3,2], dtype = int)
print(vazio)
print("-------")
# cria uma matriz 4x3 com valores zero
zeros = np.zeros([4,3])
print(zeros)
print("-------")
#com valores igual a um
um = np.ones([5,7])
print(um)
print("-------")
# cria matriz quadrada com diagonal principal com valores 1 e os outros valores zero
diagonal = np.eye(5)
print(diagonal)

[[    52479954            0]
 [416611827815 137438953580]
 [433791697011 459561500773]]
-------
[[0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]
-------
[[1. 1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1. 1.]]
-------
[[1. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0.]
 [0. 0. 1. 0. 0.]
 [0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 1.]]

In [10]:
#valores aleatórios entre zero e um
ale = np.random.random((5))
print(ale)
print("-------")
#valores aleatórios distr. normal contendo negativos
ale2= np.random.randn((5))
print(ale2)
print("-------")
#valores aleatórios 3 x 4
ale3 = (10*np.random.random((3,4)))
print(ale3)

[0.39016552 0.24342859 0.98072795 0.12272233 0.26923911]
-------
[-0.35741956 -0.66678108 -1.37466119  1.58977733 -0.27831561]
-------
[[6.33908675 2.1522416  6.94121963 8.24340356]
 [7.75389871 2.68949877 8.52846702 9.94774978]
 [4.1328445  9.0565748  1.10361473 3.3287659 ]]

In [11]:
#outra forma de gerar aleatórios
#uso de semente
gnr = np.random.default_rng(1)
ale5 = gnr.random(3)
print (ale5)

#gerar inteiros
ale6 = gnr.integers(10, size=(3, 4))
print(ale6)

[0.51182162 0.9504637  0.14415961]
[[8 9 2 3]
 [8 4 2 8]
 [2 4 6 5]]

In [12]:
#unique remove repetições
j = np.array([11, 12, 13, 14, 15, 16, 17, 12, 13, 11, 18, 19, 20])
j = np.unique(j)
print(j)

[11 12 13 14 15 16 17 18 19 20]

In [13]:
#funções específicas
# cria a matriz bidimensional k
k = np.array([[17,22,43],[27,25,14],[15,24,32]])
# Mostra a matriz k
print(k)
# Mostra um elemento específico da matriz k
print(k[0][1])
# Mostra o tamanho das dimensões da matriz k
print(k.shape)

[[17 22 43]
 [27 25 14]
 [15 24 32]]
22
(3, 3)

In [14]:
#Funções Matemáticas
# Mostra o maior valor da matriz k
print(k.max())
# Mostra o menor valor da matriz k
print(k.min())
# Mostra a soma dos valores da matriz k
print((k.sum()))
# Mostra o valor da média dos valores da matriz k
print(k.mean())
# Mostra o valor do desvio padrão (standard deviation) dos valores da matiz k
print(k.std())

43
14
219
24.333333333333332
8.615231988880057

In [15]:
#funções universais, aplicadas a todos os elementos
# Mostra o valor da raiz quadrada de todos elementos
k1 = np.array([1, 4, 9, 16, 25, 36])
print(np.sqrt(k1))
# Mostra o valor do exponencial de todos elementos
print(np.exp(k1))

[1. 2. 3. 4. 5. 6.]
[2.71828183e+00 5.45981500e+01 8.10308393e+03 8.88611052e+06
 7.20048993e+10 4.31123155e+15]

In [16]:
#extração de elementos
m = np.array([1, 2, 3, 4, 5, 6])
# Mostra o elemento da posição 2
print(m[1])
print("-------")
# Mostra o array criado a partir da posição 0, dois elementos
print(m[0:2])
print("-------")
# Mostra o array criado a partir da 2a posição
# até todo o restante do array
print(m[1:])
print("-------")
# Mostra o array criado a partir da antepenúltima
#posição até o final
print(m[-3:])

2
-------
[1 2]
-------
[2 3 4 5 6]
-------
[4 5 6]

In [17]:
#extração de linhas e colunas
l = np.array([[4, 5], [6, 1], [7, 4]])
print(l)
print("-------")
#primeira linha, todas as colunas
l_linha_1 = l[0, :]
print(l_linha_1)
print("-------")
#segunda linha
l_linha_2 = l[1, :]
print(l_linha_2)
print("-------")
#terceira linha
l_linha_3 = l[2, :]
print(l_linha_3)
print("-------")
#todas as linhas, primeira coluna
l_coluna_1 = l[:, 0]
print(l_coluna_1)
print("-------")
#todas as linhas, segunda coluna
l_coluna_2 = l[:, 1]
print(l_coluna_2)

[[4 5]
 [6 1]
 [7 4]]
-------
[4 5]
-------
[6 1]
-------
[7 4]
-------
[4 6 7]
-------
[5 1 4]

In [18]:
#adição e multiplicação de matrizes
n = np.array([[1, 2], [3, 4]])
o = np.array([[1, 1], [1, 1]])
res1 = n+o
print(res1)
print("-------")
res2 = n*o
print(res2)
print("-------")
p = np.array([[1, 2], [3, 4], [5, 6]])
q = np.array([[2, 1]])
print(p+q)

[[2 3]
 [4 5]]
-------
[[1 2]
 [3 4]]
-------
[[3 3]
 [5 5]
 [7 7]]

In [19]:
# transposição, rearranja um conjunto de 15 elementos de 0 a 14
# em 3 linhas e 5 colunas.
f = np.arange(15).reshape((3, 5))
# mostra a matrizes transposta entre linha e coluna
print(f)
print("-------")
s = f.T
print(s)

[[ 0  1  2  3  4]
 [ 5  6  7  8  9]
 [10 11 12 13 14]]
-------
[[ 0  5 10]
 [ 1  6 11]
 [ 2  7 12]
 [ 3  8 13]
 [ 4  9 14]]

In [20]:
#outra forma de fazer, mesmo resultado
r = np.arange(15).reshape((3, 5))
print(r)
print("-------")
# rearranja um conjunto de 15 elementos
# mostra a matrizes transposta entre linha e coluna
s = r.transpose((1,0))
print(s)

[[ 0  1  2  3  4]
 [ 5  6  7  8  9]
 [10 11 12 13 14]]
-------
[[ 0  5 10]
 [ 1  6 11]
 [ 2  7 12]
 [ 3  8 13]
 [ 4  9 14]]

In [21]:
#expressões lógicas
#usando where
# criando matriz com valores aleatórios positivos e negativos
v = np.random.randn(4, 4)
print(v)
# criando matriz com valores booleanos baseado no array v
x = (v > 0)
print(x)
# criando matriz com valores -1 e 1 baseado nos valores do array x
z = np.where(x > 0, 1, -1)
print(z)

[[ 1.47970925  0.129927   -0.9118592   1.65625288]
 [-1.48295802 -0.8203414  -1.17800428 -1.16848964]
 [-0.18709651  0.06310497 -1.2556393  -1.54945216]
 [ 2.25508098 -1.51030022 -0.6423002  -1.16174998]]
[[ True  True False  True]
 [False False False False]
 [False  True False False]
 [ True False False False]]
[[ 1  1 -1  1]
 [-1 -1 -1 -1]
 [-1  1 -1 -1]
 [ 1 -1 -1 -1]]